/* Versión horizontal de la aplicación */
/*Empieza la composición del fondo*/
    #maestro{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    html,body{
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    #suelo{
        background-image: url("../img/suelo.png");
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0px;
        height: 10%;
        width: 100%;
        min-height: 10%;
        z-index: 2;
        }
    #fondo{
        background-image: url("../img/fondoRepeat.png");
        position: absolute;
        background-repeat: repeat; 
        top:0px;
        height: 100%;
        width: 100%;
        }
    #planeta{
        position: fixed;
        height: 35%;
        top: 25%;
        right: 15%;
        display: block;
    }
    #luna           {
        position: absolute;
        height:15%;
        top:5%;
        right: 5%;
    }
/*Fin la composición del fondo*/
/*Empieza el panel de Informacion*/
    /*Globales para informacion*/
        #panel{
            position: fixed;
            background-position: center;
            top: 1%;
            width: 100%;
            height: 40%;
            transition: all 0.5s ease;
        }
        #panelBloqueadoFantasma{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            z-index: 5;
            opacity: 0.5;
            background-color: black;
        }
        .caja{
            position: relative;
            padding-left: 25%;
            height: 33%;
            width: 75%;
        }
        .letraPanel{
            text-align: center;
            position: relative;
            font-family: 'neon2';
            font-size: 25px;
            color: #d6d6e8;
        }
        .imgBarra{
            position: relative;
            width: 100%;
            height: 100%;
        }
        #barraFuel{
            position: relative;
            width: 100%;
            height: 100%;
        }
    /*Empieza la altitud */
        #divTextoAltitud{
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            width: 20%;
            height: 25%;
            border-radius: 1px;
            border: 3px solid #bcbce0;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;
        }
        #divBarraAltitud{
            position: absolute;
            bottom: 0;
            margin-left: 5%;
            width: 10%;
            height: 70%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;    
        }
        #barraAltitud{
            position: absolute;
            bottom: 0;
            text-align: left;
            width: 100%;
            max-height: 100%;
            height: 100%;
            border-radius: 5px;
            border-bottom: 10px;
        }
        #letraPanelAltitud{
            display:inline-block;
            left: 0;
            position: relative;
            width: 90%;
            padding-top: 7%;
            font-size: 4vmin;
        }
        #altitudActual{
            display: inline-block;
            position: relative;
            width: 47%;
            top: 20%;
        }
        .separador{         /*El separador que evita que vibren los elementos*/
            position: relative;
            float: left;
            width: 47%;
            height: 100%;
            margin-top: 5%;
            margin-left: 20%;
        }
    /*Termina la altitud*/
    /*Empieza la velocidad*/
        #divVelocidad{
            position: absolute;
            top: 0;
            right: 0;
            width: 45%;
            height: 40%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;
        }
        #divBarraVelocidad{
            position: absolute;
            bottom: 0;
            margin-right: 3%; 
            width: 97%;
            height: 30%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            line-height: 0;
            font-size: 0;
        }
        #divVelocidadPositiva, #divVelocidadNegativa{
            width: 50%;
            height: 100%;
            display: inline-block;
        }
        #velocidadNegativa, #velocidadPositiva{
            width: 0%;
            max-width: 100%;
        }
        #velocidadNegativa{
            float: right;
        }
        #ms{
            position: relative;
            font-family: 'neon2';
            font-size: 19px;
            margin-left: 25%;
        }
        #velocidadActual{
            width: 40%;
            margin-left: 10%;
            padding-top: 8%;
        }
    /*Termina la velocidad*/
    /*Empieza el fuel*/
        #divFuel{
            position: absolute;
            top: 44%;
            right: 0;
            width: 45%;
            height: 40%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;
        }
        #divBarraFuel{
            position: absolute;
            bottom: 0;
            margin-right: 3%; 
            width: 97%;
            height: 30%;
            border-radius: 1px;
            border: 3px solid #bcbce8;

        }
        #letraPanelFuel{
            display: inline-block;
            text-align: right;
            float: right;
            width: 25%;
            height: 25%;
            padding-top: 11%;
            padding-right: 5%;
        }
        #fuelDoble{
            width: 70%;
            height: 25%;
            margin-left: 0;
            padding-top: 11%;
        }
    /*Termina el fuel*/
/*Termina el panel de Informacion*/
/*Empieza todo lo referente a pausar el juego*/
    /*Imagen que genera el despliegue menuPausa*/
    #imgContenedorPausa{        
        position: absolute;
        height: 12%;
        bottom: 35%;
        right: 5%;
        display: block;
        z-index: 20;
    }
    /*Imagen que despliega menuPausa*/
    #menuPausa{
        background-image: url("../img/prueba.png");
        text-align: center;
        position: absolute;
        width: 99%;
        height: 99%;
        border-radius: 5px;
        border: 2px solid #bcbce8;
        z-index: 6;
        transition: all 0.5s ease;
    }
    #menuPausa.oculto{
        top:-100%; 
    }
    /*Contenedor superior general*/
    #pausaIzquierda{
        position: relative;
        display: block;
        opacity: 1;
        height: 30%;
        width: 100%;
        border-bottom-width: thick;
        border-bottom: 2px solid #bcbce8;
    }
    /*Contenedor central general*/
    #pausaDerecha{
        position: relative;
        display: block;
        height: 30%;
        width: 100%;
        border-bottom-width: thick;
        border-bottom: 2px solid #bcbce8;
    }
    /*Contenedor inferior general*/
    #pausaDificultad{
        position: relative;
        display: inline-block;
        height: 30%;
        width: 100%;
    }
    #pausaHoverDerecha{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: none;
        margin: auto;
    }
    #pausaHoverIzquierda{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.2;
        z-index: 2;
        display: none;
        margin: auto;
    }
    #pausaHoverDificultad{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.2;
        z-index: 2;
        display: none;
        margin: auto;
    }
    /*Ids y Clases globales a menuPausa*/
    #menuPausaCabecera{
        position: relative;
        width: 100%;
        height: 10%;
        border-bottom-width: thick;
        border-bottom: 2px solid #bcbce8;
    }
    #miniTitulo{
        position: absolute;
        width: 100%;
        padding-top: 3%;
    }
    #spanTituloPausa{
        text-align: center;
        font-size: 25px;
        letter-spacing: 1px;
    }
    .titulosSubcategorias{
        position: relative;
        display: inline-block;
        height: 10%;
        width: 100%;
        margin-top: 5%;
    }
    .letrasSubcategorias{
        font-family: 'neon2';
        color: #adcfff;
        text-align: center;
        font-size: 23px;
        letter-spacing: 1px;
    }
    .contenedorOpcionesPausa{
        position: relative;
        display: inline-block;
        text-align: center;
        width: 96%;
        height: 80%;
        right: 0;
        bottom: 0;
    }
    .contenedorOpcionesDificultad{
        position: relative;
        display: inline-block;
        text-align: center;
        width: 96%;
        height: 80%;
        right: 0;
        bottom: 0;
    }
    .imagenesSubcategorias, .imagenesSeleccion{
        height: 50%;
        margin-top: 10%;
        z-index: 7;
        display: inline-block;
        transition: 0.5s;
    }
    .imagenesSubcategorias:hover, .imagenesSeleccion:hover {
        height: 55%;
        transform: translate(0%, -5%);
    }
    .imagenesSeleccion{
        height: 50%;
        margin-top: 10%;
        z-index: 7;
        display: none; /*none , block*/
        transition: 0.5s;
    }
    /*Termina todo lo referente a pausar el juego*/
/*Empiezan los objetos de la pantalla */
    #divNave{
        position: fixed;
        text-align: center;
        top: 5%;
        width: 100%;
        height: 20%;
        z-index: 3;
    }
    #nave{
        height: 100%;
        margin-right: 27%;
    }
    #imgPropulsor{
        position: absolute;
        height: 12%;
        bottom: 15%;
        right: 5%;
        z-index: 4;
    }
/*Terminan los objetos de la pantalla*/
/*Empieza los menus de fin de partida*/
    .contenedorTitulo{
        position: relative;
        display: block;
        top: 0;
        height: 10%;
        width: 100%;
        margin-top: 10%;
        border-radius: 5px;
        border-bottom: 2px solid #bcbce8;
    }
    .contenedorSubtitulo{
        position: relative;
        display: block;
        top: 0;
        height: 40%;
        width: 100%;
    }
    .divImagenInferior{
        position: relative;
        display: inline-block;
        bottom: 0;
        height: 20%;
        width: 100%;
    }
    #finJuego{
        background-image: url("../img/prueba.png");
        text-align: center;
        position: absolute;
        border-radius: 5px;
        border: 3px solid #bcbce8;
        width: 80%;
        height: 80%;
        min-width: 300px;
        margin-left: 10%;
        top: 5%;
        z-index: 6;
        transition: 1s;
        transition-timing-function: ease-out;
    }
    #finJuego.oculto{
        top: -100%;
    }
    #dificultadF{
        position: relative;
        display: none;
        height: 18%;
        bottom: 0;
        display: inline-block;
        margin-right: 10%;
        margin-bottom: 1%;
    }
    #dificultadD{
        position: relative;
        display: none;
        height: 18%;
        bottom: 0;
        display: inline-block;
        margin-left: 10%;
        margin-bottom: 1%;
    }
    #mostrarCambioDificultadF{
        position: relative;
        height: 100%;
        width: 45%;
        left:0;
        text-align: center;
        display: none;
    }
    #mostrarCambioDificultadD{
        position: relative;
        height: 100%;
        width: 45%;
        left:0;
        text-align: center;
        display: none;
    }
    #mostrarReinicioP{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 45%;
        right: 0;
        text-align: center;
        margin-bottom: 30%;
    }
    #mostrarReinicioG{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 45%;
        margin-top: 5%;
        right: 0;
        text-align: center;
    }
    #imgReinicio{
        position: relative;
        height: 15%;
        display: none;
        margin-bottom: 0;
    }
    #aterrizajes{
        display: inline-block;
        font-family: 'neon2';
        color: #adcfff;
        font-size:25px;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #contadorIntentos{
        position: relative;
        height: 70%;
        width: 100%;
        margin-bottom: 5%;
    }
    .textoSubtitulo{
        display: block;
        margin-top: 5%;
        font-family: 'neon2';
        color: #adcfff;
        font-size:25px;
    }
    #divAterrizajes{
        position: relative;
        text-align: center;
        height: 25%;
        width: 80%;
        display: none;
        margin-top: 5%;
    }
/*Termina los menus de fin de partida*/
/*Menús de instrucciones y de about*/
#informacion{
    position:fixed;
    top: 20%;
    width: 80%;
    height: 70%;
    left: 10%;
}
#manual{
    position:fixed;
    background-image: url("../img/prueba.png");
    background-repeat: repeat-x;
    border-radius: 10px;
    border: 2px solid #bcbce8;
    height: 80%;
    width: 90%;
    right: 4%;
    top: 9%;
    text-align: justify;
    z-index: 3;
    transition: all 0.5s ease;  
    min-width: 300px;  
}
#lunaInstrucciones{
    position: absolute;
    height:12%;
    top:1%;
    right: 2%;
}
#libroInstrucciones{
    position: relative;
    height: 75%;
}
#barraVelocidad{
    width: 100%
}
#libroInstrucciones{
    position: relative;
    height: 80%;
    bottom: 0;
}
.divHorizontalCentrado{
    position: relative;
    height: 20%;
    width: 100%;
    margin-top: 20%;
    text-align: center;
}
/*Tipografía */
@font-face {            font-family: 'neon2';src: url("../font/neon2.ttf");}
h1{                     text-align: center; }
p{                      margin: 2%;}
#velocidadActual{       width: 47%; margin-left: 0; font-size: 20px; padding-top: 0;}
#fuelDoble{             text-align: left;width: 45%;padding-top: 4%;}
#letraPanelVelocidad{   display: inline-block; text-align: right; float: right; width: 50%; padding-top: 14%; margin-right: 10%;}
#spanTituloPausa{       letter-spacing: 1px;}
#tituloFin{             display: inline-block; margin-top: 1%; font-size: 6vmin;}
#texto2, #texto{        margin:5%; display: inline-block; margin-top: 5%; display: block; margin-top: 5%; font-family: 'neon2';color: #adcfff;font-size: 5vmin;}
.textoGeneral{          font-family: 'neon2';color: #adcfff;font-size: 5vmin;}
.textoPaneles{          font-family: 'neon2';color: #adcfff;font-size: 3vmin;}