/* Versión horizontal de la aplicación */
/*Empieza la composición del fondo*/
    html,body{
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    #suelo{
        background-image: url("../img/suelo.png");
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0px;
        height: 10%;
        width: 100%;
        min-height: 10%;
        z-index: 2;
        }
    #fondo{
        background-image: url("../img/fondoRepeat.png");
        position: absolute;
        background-repeat;
        top:0px;
        height: 100%;
        width: 100%;
        }
    #planeta{
        position: fixed;
        height: 35%;
        top: 25%;
        right: 15%;
        display: block;
    }
    #luna           {
        position: absolute;
        height:15%;
        top:5%;
        right: 5%;
    }
/*Fin la composición del fondo*/
/*Empieza el panel de Informacion*/
    /*Globales para informacion*/
        #panel{
            position: fixed;
            background-position: center;
            top: 1%;
            width: 100%;
            height: 40%;
        }
        #panelBloqueadoFantasma{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            z-index: 5;
            opacity: 0.5;
            background-color: black;
        }
        .caja{
            position: relative;
            padding-left: 25%;
            height: 33%;
            width: 75%;
        }
        .letraPanel{
            text-align: center;
            position: relative;
            font-family: 'neon2';
            font-size: 25px;
            color: #d6d6e8;
        }
        .imgBarra{
            position: relative;
            width: 100%;
            height: 100%;
        }
        #barraFuel{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .separador{         /*El separador que evita que vibren los elementos*/
            position: relative;
            float: left;
            width: 49%;
            height: 100%;
        }
    /*Empieza la altitud */
        #divTextoAltitud{
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            width: 20%;
            height: 25%;
            border-radius: 1px;
            border: 3px solid #bcbce0;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;
        }
        #divBarraAltitud{
            position: absolute;
            bottom: 0;
            margin-left: 5%;
            width: 10%;
            height: 70%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;    
        }
        #barraAltitud{
            position: absolute;
            bottom: 0;
            text-align: left;
            width: 100%;
            max-height: 100%;
            height: 100%;
            border-radius: 5px;
            border-bottom: 10px;
        }
        #letraPanelAltitud{
            display:inline-block;
            left: 0;
            position: relative;
            width: 90%;
            font-family: 'neon2';
            font-size: 19px;
            color: #d6d6e8;
            padding-top: 7%;
        }
        #altitudActual{
            display:inline-block;
            position: relative;
            width: 47%;
            font-family: 'neon2';
            font-size: 20px;
            color: #d6d6e8;
            margin-top: 15%;
        }
        .separador{         /*El separador que evita que vibren los elementos*/
            position: relative;
            float: left;
            width: 49%;
            height: 100%;
        }
    /*Termina la altitud*/
    /*Empieza la velocidad*/
        #divVelocidad{
            position: absolute;
            top: 0%;
            right: 0;
            width: 45%;
            height: 40%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;
        }
        #divBarraVelocidad{
            position: absolute;
            bottom: 0;
            margin-right: 3%; 
            width: 97%;
            height: 30%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            line-height: 0;
            font-size: 0;
        }
        #divVelocidadPositiva, #divVelocidadNegativa{
            width: 50%;
            height: 100%;
            display: inline-block;
        }
        #velocidadNegativa, #velocidadPositiva{
            width: 0%;
            max-width: 100%;
        }
        #velocidadNegativa{
            float: right;
        }
        #ms{
            font-family: 'neon2';
            font-size: 19px;
            color: #d6d6e8;
        }
        #msEstatico{
            font-family: 'neon2';
            font-size: 19px;
            color: #d6d6e8;
        }
        #letraPanelVelocidad{
            display: inline-block;
            text-align: right;
            float: right;
            width: 55%;
            font-family: 'neon2';
            font-size: 20px;
            color: #d6d6e8;
            padding-top: 14%;
            padding-right: 5%;
        }
        #velocidadActual{
            width: 42%;
            margin-left: 10%;
            font-family: 'neon2';
            font-size: 20px;
            color: #d6d6e8;
            padding-top: 4%;
        }
    /*Termina la velocidad*/
    /*Empieza el fuel*/
        #divFuel{
            position: absolute;
            top: 44%;
            right: 0;
            width: 45%;
            height: 40%;
            border-radius: 1px;
            border: 3px solid #bcbce8;
            background-image: url("../img/fondoVelocidad.png");
            background-position: center;
        }
        #divBarraFuel{
            position: absolute;
            bottom: 0;
            margin-right: 3%; 
            width: 97%;
            height: 30%;
            border-radius: 1px;
            border: 3px solid #bcbce8;

        }
        #letraPanelFuel{
            display: inline-block;
            text-align: right;
            float: right;
            width: 25%;
            height: 25%;
            font-family: 'neon2';
            font-size: 22px;
            color: #d6d6e8;
            padding-top: 11%;
            padding-right: 5%;
        }
        #fuelDoble{
            width: 60%;
            height: 25%;
            margin-left: 5%;
            font-family: 'neon2';
            font-size: 19px;
            color: #d6d6e8;
            padding-top: 11%;
        }
        #cien{
            font-family: 'neon2';
            text-align: right;
            margin-right: 1%;
            font-size: 19px;
            color: #d6d6e8;
        }
    /*Termina el fuel*/
/*Termina el panel de Informacion*/
/*Empieza todo lo referente a pausar el juego*/
        /*Imagen que genera el despliegue menuPausa*/
        #imgContenedorPausa{        
            position: absolute;
            height: 12%;
            bottom: 35%;
            right: 5%;
            display: block;
            z-index: 20;
        }
        /*Imagen que despliega menuPausa*/
        #menuPausa{
            background-image: url("../img/fondoMenu.png");
            text-align: center;
            position: absolute;
            width: 99%;
            height: 99%;
            border-radius: 5px;
            border: 2px solid #bcbce8;
            /*display: none; /*block / none*/
            z-index: 6;
            transition: all 1s ease;
            animation-delay: 2s;
        }
        #menuPausa.oculto{
            top: 100%; 
        }
        /*Contenedor superior general*/
        #pausaIzquierda{
            position: relative;
            display: block;
            background-color: none;
            opacity: 1;
            height: 30%;
            width: 100%;
            border-bottom-width: thick;
            border-bottom: 2px solid #bcbce8;
        }
        /*Contenedor central general*/
        #pausaDerecha{
            position: relative;
            display: block;
            height: 30%;
            width: 100%;
            border-bottom-width: thick;
            border-bottom: 2px solid #bcbce8;
        }
        /*Contenedor inferior general*/
        #pausaDificultad{
            position: relative;
            display: block;
            height: 30%;
            width: 100%;
        }
        #pausaHoverDerecha{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            display: none;
            margin: auto;
        }
        #pausaHoverIzquierda{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.2;
            z-index: 2;
            display: none;
            margin: auto;
        }
        #pausaHoverDificultad{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.2;
            z-index: 2;
            display: none;
            margin: auto;
        }
        /*Ids y Clases globales a menuPausa*/
            #menuPausaCabecera{
                position: relative;
                width: 100%;
                height: 10%;
                border-bottom-width: thick;
                border-bottom: 2px solid #bcbce8;
            }
            #miniTitulo{
                position: absolute;
                width: 100%;
                padding-top: 3%;
            }
            #spanTituloPausa{
                font-family: 'neon2';
                color: #adcfff;
                text-align: center;
                font-size: 25px;
                letter-spacing: 1px;
            }
            #hr {
                position: absolute;
                left: 50%;
                top: 20%;
                width:2px;
                z-index: 7;
                height:81%;
                background-color: #bcbce8;
                /*transition: 1s ease-in-out;
                display: block;*/
            }
            .titulosSubcategorias{
                position: relative;
                display: inline-block;
                height: 10%;
                width: 100%;
                margin-top: 5%;
            
            }
            .letrasSubcategorias{
                font-family: 'neon2';
                color: #adcfff;
                text-align: center;
                font-size: 23px;
                letter-spacing: 1px;
            }
            .contenedorOpcionesPausa{
                position: relative;
                display: inline-block;
                text-align: center;
                width: 96%;
                height: 80%;
                right: 0;
                bottom: 0;
            }
            .contenedorOpcionesDificultad{
                position: relative;
                display: inline-block;
                text-align: center;
                width: 96%;
                height: 80%;
                right: 0;
                bottom: 0;
            }
            .imagenesSubcategorias, .imagenesSeleccion{
                height: 50%;
                margin-top: 10%;
                z-index: 7;
                display: inline-block;
                transition: 0.5s;
            }
            .imagenesSubcategorias:hover, .imagenesSeleccion:hover {
                height: 55%;
                transform: translate(0%, -5%);
            }
            .imagenesSeleccion{
                height: 50%;
                margin-top: 10%;
                z-index: 7;
                display: none; /*none , block*/
                transition: 0.5s;
            }
        /*Div izquierdo, opciones de reinicio y continuar jugando*/
/*Termina todo lo referente a pausar el juego*/
/*Empiezan los objetos de la pantalla */
    #divNave{
        position: fixed;
        text-align: center;
        top: 5%;
        width: 100%;
        height: 20%;
        z-index: 3;
    }
    #nave{
        height: 100%;
        margin-right: 27%;
    }
    #imgPropulsor{
        position: absolute;
        height: 12%;
        bottom: 15%;
        right: 5%;
        z-index: 4;
    }
/*Terminan los objetos de la pantalla*/
/*Empieza los menus de fin de partida*/
    .contenedorTitulo{
        position: relative;
        display: block;
        top: 0;
        height: 10%;
        width: 100%;
        margin-top: 10%;
        border-radius: 5px;
        border-bottom: 2px solid #bcbce8;
    }
    .contenedorSubtitulo{
        position: relative;
        display: block;
        top: 0;
        height: 40%;
        width: 100%;
    }
    .divImagenInferior{
        position: relative;
        display: inline-block;
        bottom: 0;
        height: 20%;
        width: 100%;
    }
    #mostrarCambioDificultadF{
        position: relative;
        height: 100%;
        width: 45%;
        left:0;
        text-align: center;
        display: none;
    }
    #mostrarCambioDificultadD{
        position: relative;
        height: 100%;
        width: 45%;
        left:0;
        text-align: center;
        display: none;
    }
    #mostrarReinicioP{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 45%;
        right: 0;
        text-align: center;
        margin-bottom: 30%;
    }
    #mostrarReinicioG{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 45%;
        right: 0;
        text-align: center;
    }
    #ganado{
        background-image: url("../img/fondoMenu.png");
        text-align: center;
        position: absolute;
        border-radius: 5px;
        border: 2px solid #bcbce8;
        width: 99%;
        height: 99%;
        z-index: 6;
        /*display: block; /*block / none*/
        transition: all 2s ease;
    }
    #perdido{
        background-image: url("../img/fondoMenu.png");
        text-align: center;
        position: absolute;
        border-radius: 5px;
        border: 2px solid #bcbce8;
        width: 99%;
        height: 99%;
        z-index: 6;
        /*display: block; /*block / none*/
        transition: all 2s ease;
    }
    #ganado.ocultoGanado{
        top: 100%;
    }
    #perdido.ocultoPerdido{
        top: 100%;
    }
    #imgReinicio{
        height: 85%;
        bottom: 10%;
    }
    #imgReinicioNormal{
        height: 85%;
        bottom: 10%;
        margin-bottom: 20%;
    }
    #imgReinicioG{
        height: 85%;
        bottom: 10%;
    }
    #imgDificultadF{
        position: relative;
        display: none;
        height: 85%;
        bottom: 30%;
    }
    #imgDificultadD{
        position: relative;
        display: none;
        height: 85%;
        bottom: 5%;
    }
    #enhorabuena{           /*La imagen al aterrizar correctamente*/
        top: 15%;
        width: 50%;
        height: 40%;
    }
    #intentosRealizados{
        display: inline-block;
        font-family: 'neon2';
        color: #adcfff;
        font-size:25px;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #intentosRealizadosGanados{
        display: inline-block;
        font-family: 'neon2';
        color: #adcfff;
        font-size:25px;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #intentos, #aterrizajes{
        display: inline-block;
        font-family: 'neon2';
        color: #adcfff;
        font-size:25px;
        margin-top: 10%;
        margin-left: 10px;
        margin-right: 10px;
    }
    #contadorIntentos{
        position: relative;
        height: 70%;
        width: 100%;
        margin-bottom: 5%;
    }
    .textoSubtitulo{
        display: block;
        margin-top: 5%;
        font-family: 'neon2';
        color: #adcfff;
        font-size:25px;
    }
/*Termina los menus de fin de partida*/
/*Empieza el procesamiento de text en general*/
    @font-face {
        font-family: 'neon2';
        src: url("../font/neon2.ttf");
    }
    h1, h2, h3, p, #velocidadActual{
        font-family: 'neon2';
        color: #adcfff;
        text-align: center;
        font-size:25px;
    }
    #fuelActual{
        font-family: 'neon2';
        text-align: center;
        font-size:25px;
    }
    .letrasInstrucciones{
        font-family: 'neon2';
        font-size: 22px;
        text-align: center;
        color: #adcfff;
    }
    .letrasAbout{
        font-family: 'neon2';
        font-size: 19px;
        text-align: center;
        color: #adcfff;
    }
    #tituloGanado{
        font-family: 'neon2';
        font-size: 25px;
        text-align: center;
        color: #adcfff;
        display: inline-block;
        margin-top: 1%;
    }
    #tituloPerdido{
        font-family: 'neon2';
        font-size: 25px;
        text-align: center;
        color: #adcfff;
        display: inline-block;
        margin-top: 1%;
    }
    #texto2{
        font-family: 'neon2';
        font-size: 25px;
        text-align: center;
        color: #adcfff;
        display: inline-block;
        margin-top: 15%;
    }
/*Termina el procesamiento de text en general*/
/*Menús de instrucciones y de about*/
    .divHorizontalCentrado{
        position: relative;
        bottom: 1%;
        width: 100%;
        text-align: center;
        height: 20%;
    }
    #informacion{
        position:fixed;
        top: 20%;
        width: 80%;
        height: 70%;
        left: 10%;
    }
    #manual{
        position:fixed;
        background-image: url("../img/fondoMenu.png");
        background-repeat: repeat-x;
        border-radius: 10px;
        border: 2px solid #bcbce8;
        height: 85%;
        width: 90%;
        right: 4%;
        text-align: center;
        z-index: 3;
    }
    #about{
        position:fixed;
        background-image: url("../img/fondoMenu.png");
        background-repeat: repeat-x;
        border-radius: 10px;
        border: 2px solid #bcbce8;
        height: 85%;
        width: 90%;
        right: 4%;
        text-align: center;
        z-index: 3;
    }
    #lunaInstrucciones{
        position: absolute;
        height:12%;
        top:1%;
        right: 2%;
    }
    #libroInstrucciones{
        position: relative;
        height: 75%;
    }
    #barraVelocidad{
        width: 100%
    }
/*Efecto giro en imagenes*/
.giro:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}